<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>HEADER</title>
  <% include ./scripts %>
  <div>
    <button type="button" class="btn btn-primary">Fighters</button>
    <button type="button" class="btn btn-secondary">Sign in</button>
    <button type="button" class="btn btn-success">Events</button>

    <form>
      <div class="form-group">
        <label for="exampleInputusername1">Username</label>
        <input
          type="username"
          class="form-control"
          id="exampleInputusername1"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail\1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</head>
