<!DOCTYPE html>
<html lang="en">
  <% include ./partials/header %>
  <body>
    <% ranking.forEach((item, idx,arr) => { %> <%if (idx < arr.length){%>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= item.name %></h5>
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <%= "Fighters" %>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% for( let j = 0; j < item.competitor_rankings.length; j++ ) { %>
            <a
              class="dropdown-item"
              href="/fighters/single-fighter/<%= item.competitor_rankings[j].competitor.id%>"
            >
              <%= item.competitor_rankings[j].competitor.name %>
            </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <%} }) %>
  </body>
</html>
