<% include ../partials/header %>  
  <body>
    <div class="list-group">
      <ul>
      <% for( let i = 0; i < user.length; i++ ) { %>

      <li><a href = "/fighters/single-fighter/<%= user[i].fighter_id %> "> <%= user[i].fighter %>  </a> </li>
      <% } %> 
      </ul>
    </div>
  </body>
</html>
