<% include ../partials/header %>  
  <body>
    <div class="list-group">
      <ul>
      <% for( let i = 0; i < user.length; i++ ) { %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <a href="/fighters/single-fighter/<%= user[i].fighter_id %> " class="btn btn-primary"><%= user[i].fighter %> </a>
  </div>
</div>
      <% } %> 
      </ul>
    </div>
  </body>
</html>
